extends layout

block append content
    .container
        .place-title About
        .about
            p Restaurant Launcher is a web mashup service developed as an assignment for CAB432, Semester 2 2018 at QUT
            p
                b Student Name:
                |&nbsp;Sandali Deenalattha
            p
                b Student Number:
                |&nbsp;N9878831
            p
                b Tutor:
                |&nbsp;Tyler Stewart
            p
                b Tutorial:
                |&nbsp;Friday 1pm - 3pm
            p
                b Unit Coordinator:
                |&nbsp;Associate Professor Jim Hogan